/* Flexbox layout for header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Style for the search input field */
.search-input {
    width: 430px; /* Adjust the width as needed */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container div {
    margin-bottom: 15px;
    margin-right: 15px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container input[type="checkbox"] {
    margin-left: 10px;
}

.form-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
}

.form-container button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}

/* Styles to group sections in the form */
.form-section {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.form-section h2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #333;
}

/* Styles for collapsible sections */
.collapsible {
    background-color: #3b3b3b;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.collapsible::after {
    content: "\25BC"; /* Down arrow */
    font-size: 13px;
    position: absolute;
    right: 10px;
}

.collapsible.active::after {
    content: "\25B2"; /* Up arrow */
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px;
}
